[user]
	name = sika7
	email = 91676209+sika7@users.noreply.github.com
[core]
	editor = nvim -c \"set fenc=utf-8\"
[credential]
	helper = osxkeychain
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
